<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать человека</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${personn.getId()})}" th:object="${personn}">
    <label for = "fullname">Введите ФИО: </label>
    <input type="text" th:field="*{fullName}" id="fullname"/>


    <label for = "yearOfBirth">Введите год рождения: </label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>

    <input type="submit" value="Update!">


</body>
</html>